#wrapper{
    width: 100%;
    padding: 10px;
    background-color: #eee2dc;
    margin-top: -16px;
}

#form-wrapper{
    background-color: #eee2dc;
    padding: 10px;
    width: calc(100% - 720px);
    
}

#map-wrapper{
    width: 700px;
    margin: 0;
    float: right;
}