<div *ngIf="tickets">
  <div *ngFor="let ticket of tickets">
    <div class="card" style="margin-top: 1%">
      <div class="card-header">
        Ticket type: {{ticket.ticketTemporal}}
        datum: {{currentDate}}
      </div>
      <div class="card-body">
        <p class="card-text">Active: {{ticket.active}}</p>
        <p class="card-text" *ngIf="ticket.startDate !== null && ticket.startDate !== undefined">Start time: {{ticket.startDate}}</p>
        <p class="card-text" *ngIf="ticket.endTime !== null && ticket.endTime !== undefined">End time: {{ticket.endTime}}</p>
        
        <p class="card-text">Transport type: {{ticket.transportType}}</p>
        <button *ngIf="ticket.ticketTemporal === 'ONE_HOUR_PASS' && ticket.active === 'NOT_ACTIVE' && ticket.endTime === null" class="btn btn-primary" 
                (click)="activateTicket(ticket.id)">Activate ticket</button>
      </div>
    </div>
  </div>
</div>