<app-map (streetEnter)="mouseEnter($event)">
  
</app-map>

<div id="formWrapper">
  <form [formGroup]="addStationForm" (ngSubmit)="onSubmit()">
    <div class='form-group'>
      <label>Station Name</label>
      <input type="text" formControlName="stationName" class="form-control" [ngClass]="{'is-invalid': submitted && f.stationName}" />
      <div *ngIf="submitted && f.stationName.errors" class="invalid-feedback">
        <div *ngIf="f.stationName.errors.required">Station Name is required</div>
      </div>
    </div>
    <div class='form-group'>
      <button class="btn btn-primary">Add Station</button>
    </div>
  </form>
</div>

<button (click)="addStation()">Create Station</button>

<app-station-table></app-station-table>