<header>
  <div id="container">
    <h1>eJGSP</h1>
  </div>
  <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/lines" routerLinkActive="active">Lines</a></li>
      <li><a routerLink="/zones" routerLinkActive="active">Zones</a></li>
      <li><a routerLink="/pricelist" routerLinkActive="active">Price List</a></li>
      <li><a routerLink="/ticket" routerLinkActive="active">Tickets</a></li>
      <li><a routerLink="/notifications" routerLinkActive="active">Notifications</a></li>
      
      <li *ngIf='userLogged !== null'><a *ngIf="userLogged.role === 'ROLE_ADMIN'" routerLink="/administration" routerLinkActive="active">Administration</a></li>
      
      <li *ngIf='userLogged !== null'><a *ngIf="userLogged.role === 'ROLE_CONDUCTER'" routerLink="/conductor" routerLinkActive="active">Conductor</a></li>

      <li style="float:right">
        <a *ngIf="userLogged === null" routerLink="/login" routerLinkActive="active">
          Login
        </a>
        <a *ngIf="userLogged !== null" (click)="authenticationService.logout()">
          Logout
        </a>
      </li>

      
      <li style="float: right; margin-right: 20px;">
        <a *ngIf="userLogged !== null" routerLink="/profile" routerLinkActive="active">
          {{authenticationService.currentUserValue.username}}
        </a>
      </li>
  </ul>
</header>

<ngx-smart-modal #myModal identifier="myModal" (onAnyCloseEvent)="closeLogin()">
  <app-login></app-login>
</ngx-smart-modal>
