<div id="wrapper">
  <form [formGroup]="myForm" (ngSubmit)="registerUser()">
    <div style="padding-top:17px;">
      <mat-form-field>
        <input type="text" matInput placeholder="Username" formControlName="username" required>
        <mat-error *ngIf="myForm.hasError('required', 'username')"> 
          Please enter username
        </mat-error>
        <mat-error *ngIf="f.username.hasError('minlength')">
          Username must contain 4 characters at least
        </mat-error>
      </mat-form-field>
    </div>
    <div style="padding-top:17px;">
      <mat-form-field>
        <input type="password" matInput placeholder="New password" formControlName="password" required>
        <mat-error *ngIf="myForm.hasError('required', 'password')">
          Please enter password
        </mat-error>    
        <mat-error *ngIf="f.password.hasError('minlength')">
          Password must contain 8 characters at least
        </mat-error>
      </mat-form-field>
    </div>
    <div style="padding-top:17px;">
      <mat-form-field>
        <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
        <mat-error *ngIf="myForm.hasError('notSame')">
          Passwords do not match
        </mat-error>  
      </mat-form-field>
    </div>
    
    <div style="padding-top:17px;">
      <mat-form-field>
        <input type="text" matInput placeholder="First Name" formControlName="firstName" required>
        <mat-error *ngIf="myForm.hasError('required', 'firstName')">
          Please enter your first name
        </mat-error>
      </mat-form-field>
    </div>
    <div style="padding-top:17px;">
      <mat-form-field>
        <input type="text" matInput placeholder="Last Name" formControlName="lastName" required>
        <mat-error *ngIf="myForm.hasError('required', 'lastName')">
          Please enter your last name
        </mat-error>
      </mat-form-field>
    </div>
    <div style="padding-top:17px;">
      <mat-form-field>
        <input type="email" matInput placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="myForm.hasError('required', 'email')">
          Please enter your email
        </mat-error>
      </mat-form-field>
    </div>
    <div>
  
      <button class="btn btn-primary">Register</button>
      
    </div>

  </form>
</div>