.login-btn{
    float: right;
}

#wrapper{
    width: 550px;
    height: 375px;
    background-color: #eee2dc;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin-left: calc(50% - 275px);
}